flows.json
[
    {
        "id": "737903e3e54b10c3",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "632df9e12bbe713e",
        "type": "mqtt in",
        "z": "737903e3e54b10c3",
        "name": "",
        "topic": "currentTime",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60540430bd3ab5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 340,
        "wires": [
            [
                "5118024dcd5f010e"
            ]
        ]
    },
    {
        "id": "84664032af4c0596",
        "type": "mqtt in",
        "z": "737903e3e54b10c3",
        "name": "",
        "topic": "distance",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60540430bd3ab5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 460,
        "wires": [
            [
                "627f39ea4e47aa4f"
            ]
        ]
    },
    {
        "id": "72976ef47dde3143",
        "type": "mqtt in",
        "z": "737903e3e54b10c3",
        "name": "",
        "topic": "acceleration",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60540430bd3ab5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 520,
        "wires": [
            [
                "e82d2965965a32d6"
            ]
        ]
    },
    {
        "id": "f470bcadd6b0322d",
        "type": "mqtt in",
        "z": "737903e3e54b10c3",
        "name": "",
        "topic": "speed",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60540430bd3ab5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 581.0526315789475,
        "wires": [
            [
                "a623a5e4b62bbe11",
                "48722fd21d1d5ba6"
            ]
        ]
    },
    {
        "id": "7dc24fd0a06d613d",
        "type": "mqtt in",
        "z": "737903e3e54b10c3",
        "name": "",
        "topic": "tilt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60540430bd3ab5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 880,
        "wires": [
            [
                "fe255be13e83d1b8"
            ]
        ]
    },
    {
        "id": "887f1b1155af9bc7",
        "type": "mqtt in",
        "z": "737903e3e54b10c3",
        "name": "",
        "topic": "temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60540430bd3ab5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 680,
        "wires": [
            [
                "6af3abb77ec7f9cd",
                "9b57f7e5bd52132f"
            ]
        ]
    },
    {
        "id": "9f0331ac20f09ea1",
        "type": "mqtt in",
        "z": "737903e3e54b10c3",
        "name": "",
        "topic": "humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60540430bd3ab5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 780,
        "wires": [
            [
                "105102fc99bfe62b",
                "a0feb9a551319360"
            ]
        ]
    },
    {
        "id": "a623a5e4b62bbe11",
        "type": "ui_gauge",
        "z": "737903e3e54b10c3",
        "name": "",
        "group": "d0e1590a622ff5e9",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Speed Gauge",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 580,
        "wires": []
    },
    {
        "id": "e82d2965965a32d6",
        "type": "ui_chart",
        "z": "737903e3e54b10c3",
        "name": "",
        "group": "d0e1590a622ff5e9",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Acceleration",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "fe255be13e83d1b8",
        "type": "ui_gauge",
        "z": "737903e3e54b10c3",
        "name": "",
        "group": "d0e1590a622ff5e9",
        "order": 13,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Tilt",
        "label": "º Degree",
        "format": "{{value}}",
        "min": "-90",
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 880,
        "wires": []
    },
    {
        "id": "105102fc99bfe62b",
        "type": "ui_chart",
        "z": "737903e3e54b10c3",
        "name": "",
        "group": "d0e1590a622ff5e9",
        "order": 11,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "627f39ea4e47aa4f",
        "type": "ui_chart",
        "z": "737903e3e54b10c3",
        "name": "",
        "group": "d0e1590a622ff5e9",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Distance",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "5118024dcd5f010e",
        "type": "ui_text",
        "z": "737903e3e54b10c3",
        "group": "d0e1590a622ff5e9",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "6af3abb77ec7f9cd",
        "type": "ui_chart",
        "z": "737903e3e54b10c3",
        "name": "",
        "group": "d0e1590a622ff5e9",
        "order": 10,
        "width": 0,
        "height": 0,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "0decc689d9958ba4",
        "type": "aedes broker",
        "z": "737903e3e54b10c3",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 430,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d5f7f088d92dfe8b",
        "type": "ui_text",
        "z": "737903e3e54b10c3",
        "group": "d0e1590a622ff5e9",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "b4d935aadca2b531",
        "type": "mqtt in",
        "z": "737903e3e54b10c3",
        "name": "",
        "topic": "status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60540430bd3ab5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "d5f7f088d92dfe8b"
            ]
        ]
    },
    {
        "id": "8a8eda0b266a96e8",
        "type": "ui_text",
        "z": "737903e3e54b10c3",
        "group": "d0e1590a622ff5e9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Date",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "b46fb6b9d5788d78",
        "type": "mqtt in",
        "z": "737903e3e54b10c3",
        "name": "",
        "topic": "date",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60540430bd3ab5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 280,
        "wires": [
            [
                "8a8eda0b266a96e8"
            ]
        ]
    },
    {
        "id": "b806cc7ce960f2bd",
        "type": "ui_text",
        "z": "737903e3e54b10c3",
        "group": "d0e1590a622ff5e9",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Running Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "681616b5fd05b5c4",
        "type": "mqtt in",
        "z": "737903e3e54b10c3",
        "name": "",
        "topic": "time",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60540430bd3ab5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 400,
        "wires": [
            [
                "b806cc7ce960f2bd"
            ]
        ]
    },
    {
        "id": "48722fd21d1d5ba6",
        "type": "ui_chart",
        "z": "737903e3e54b10c3",
        "name": "",
        "group": "d0e1590a622ff5e9",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Speed Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "9b57f7e5bd52132f",
        "type": "ui_gauge",
        "z": "737903e3e54b10c3",
        "name": "",
        "group": "d0e1590a622ff5e9",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Temperature Level",
        "label": "℃",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 680,
        "wires": []
    },
    {
        "id": "a0feb9a551319360",
        "type": "ui_gauge",
        "z": "737903e3e54b10c3",
        "name": "",
        "group": "d0e1590a622ff5e9",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 780,
        "wires": []
    },
    {
        "id": "1f60540430bd3ab5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d0e1590a622ff5e9",
        "type": "ui_group",
        "name": "main",
        "tab": "0f19467a2896ccca",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0f19467a2896ccca",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]